<div class="w-50 mx-auto mt-3">
  <div class="card">
    <ng-container *ngIf="!isQuizCompleted">
      <div class="d-flex justify-content-between p-3 align-items-center">
        <img src="https://img.icons8.com/color/48/000000/angularjs.png" alt="logo" />
        <h4>Welcome <span class="fw-bold text-primary">{{ name }}</span></h4>
      </div>
      <div class="d-flex justify-content-around">
        <div class="score">
          <h5>{{ points }} points</h5>
        </div>
        <div class="question-remain">
          <span>Question {{ currentQuestion + 1 }} of {{ questionList.length }}</span>
        </div>
        <div class="timer">
          <span>{{ counter }} sec <i class="fa fa-cog fa-spin"></i></span>
        </div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [ngStyle]="{'width': progress }"
          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="question mx-3">
        <div class="card">
          <h3 class="text-center">
            {{ questionList[currentQuestion]?.questionText }}
          </h3>
        </div>
      </div>
      <div class="options mx-3 my-3">
        <ul class="list-group" *ngFor="let option of questionList[currentQuestion]?.options">
          <li appChangeBg [isCorrect]="option.correct" class="list-group-item fw-bold"
            (click)="answer(currentQuestion, option)">
            {{ option.text }}
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn" [disabled]="currentQuestion === 0" (click)="previousQuestion()"><i
            class="fa fa-chevron-left fa-3x text-primary"></i></button>
        <button class="btn" (click)="resetGame()"><i class="fa fa-refresh fa-3x text-primary"></i></button>
        <button class="btn" [disabled]="currentQuestion === questionList.length - 1" (click)="nextQuestion()"><i
            class="fa fa-chevron-right fa-3x text-primary"></i></button>
      </div>
    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="row d-flex justify-content-between p-5">
        <img 
          src="assets\fireworks.png" 
          class="img-fluid col-md-6 col-sm-12 mx-auto" 
          alt="congrats"
        >
        <div class="result text-center col-md-6 col-sm-12">
          <h3>Congratulation! <span class="text-primary">
            Below is your result
          </span></h3>
          <p>Total Questions Attempted: {{ questionList.length }}</p>
          <p>Total Correct Answers: {{ correctAnswer }}</p>
          <p>Total inCorrect Answers: {{ inCorrectAnswer }}</p>
          <p>Your Score: {{ points }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn" routerLink="/welcome"><i class="fa fa-refresh fa-3x text-primary"></i></button>
      </div>
    </ng-container>
  </div>
</div>
